<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   
</head>
<body>
    <style>
       .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
        </style> 
       
       
     <section class="vh-150 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">reset your password</h2>
                    <p class="text-white-50 mb-5">Please enter your new password</p>

                    <!-- <div class="form-outline form-white mb-4">
                      <input type="text" name="email" id="typePasswordX" class="form-control form-control-lg" />
                      <label class="form-label" for="typePasswordX">email</label>
                    </div> -->

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">password</label>

                      <input type="password" name="password1" id="typeEmailX1" class="form-control form-control-lg" />
                      
                    </div>
      
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">Comfirm password</label>
                      <input type="password" name="cpassword1" id="typePasswordX1" class="form-control form-control-lg" />                    
                    </div>
               
                    <button onclick="fun();" class="btn btn-outline-light btn-lg px-5" type="submit">submet</button>
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>
      
                  </div>
      
                 
      
                </div>
              </div>
            </div>
          </div>
        </div>
        <form action="https://car-rental-eg.herokuapp.com/restpasswor" method="post">
            
                <input type="password" name="password" id="typeEmailX" hidden class="form-control form-control-lg" />
                <input type="password" name="cpassword" id="typePasswordX" hidden class="form-control form-control-lg" />
            <button onclick="fun();" id="1"hidden type="submit">submet</button></form>
      </section>
    


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script>
    var password = document.getElementById("typeEmailX1")
    , confirm_password = document.getElementById("typePasswordX1");
function fun(){
if(password.value=="")
{
   alert("Password required")
    
}else
{
    if(password.value==confirm_password.value){

fun1()

}else
{
    alert("not match passwords")
}

}
   
}
function fun1()
{
    document.getElementById("typeEmailX").value =password.value;
    document.getElementById("typePasswordX").value = confirm_password.value;
    document.getElementById("1").click();
}
</script>
</body>
</html>